@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-darck-blue: #00474b;
  --color-light-green: #26c2ae;
  --color-light-gray: #7f9d9f;
  --color-blue-100: #f3f9fa;
  --color-blue-800: #0d686d;
  --color-blue-500: #9fe8df;
}

body {
  background-color: #c5e4e7;
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
